<?xml version="1.0" encoding="UTF-8"?>
<root>
	 <server>
			<ip>192.168.6.15</ip>
			<username>root</username>
			<password>11</password>
			<logpath>/usr/local/nginx/logs/</logpath>
	</server>
	<server>
		<ip>192.168.6.16</ip>
		<username>root</username>
		<password>11</password>
		<logpath>/usr/local/nginx/logs/</logpath>
	</server>
	<server>
		<ip>192.168.6.17</ip>
		<username>root</username>
		<password>11</password>
		<logpath>/usr/local/nginx/logs/</logpath>
	</server>
	<server>
		<ip>192.168.6.18</ip>
		<username>root</username>
		<password>11</password>
		<logpath>/usr/local/nginx/logs/</logpath>
	</server>
     <!-- 
    <server>
        <ssh>/Users/Chen/.ssh/id_rsa</ssh>
        <ip>192.168.40.50</ip>
        <port>22</port>
        <username>root</username>
        <logpath>/usr/local/nginx-1.3.4/logs/</logpath>

    </server>
    <server>
        <ssh>/Users/Chen/.ssh/id_rsa</ssh>
        <ip>192.168.40.51</ip>
        <port>22</port>
        <username>root</username>
        <logpath>/usr/local/nginx-1.3.4/logs/</logpath>
    </server>
    <server>
        <ssh>/Users/Chen/.ssh/id_rsa</ssh>
        <ip>192.168.40.53</ip>
        <port>22</port>
        <username>root</username>
        <logpath>/usr/local/nginx-1.3.4/logs/</logpath>
    </server>
    方式1
        <ssh>/Users/Chen/.ssh/id_rsa</ssh>
        <ip>192.168.40.53</ip>
        <port>22</port>
        <username>root</username>
        <logpath>/usr/local/nginx-1.3.4/logs/</logpath>
    </server>
    -->
    
</root>